In [1]:
import pandas as pd

# Replace 'your_data.csv' with the path to your CSV file
df = pd.read_csv('knnattempt3.csv')
print(df.head())  # This will show the first few rows of your data

                   geoLocation       neighbourhoodGeoLocation  \
0  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
1  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
2  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
3  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
4  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)

   neighbourhoodID  bathrooms  bathroomsFull  bathroomsHalf  bedrooms  \
0                0        2.0            2.0              0       3.0
1                0        2.0            2.0              0       2.0
2                0        2.0            2.0              0       2.0
3                0        2.0            2.0              0       2.0
4                0        2.0            2.0              0       3.0

   datePosted  livingArea  price  ...  COMMON_ASSAULT_Count  crime_scoreID  \
0  2023-09-12  1,315 sqft   2050  ...                   102              0
1  2023-09-18  1,230 sqft   1740  ...                   102              0
2  2023-09-06  1,230 sqft   1850  ...                   102              0
3  2023-09-06  1,230 sqft   1940  ...                   102              0
4  2023-09-28  1,315 sqft   2050  ...                   102              0

   HOMICIDE_Count  LARCENY_Count  LARCENY_FROM_AUTO_Count overallCrimeScore  \
0               2            310                      388           3.69216
1               2            310                      388           3.69216
2               2            310                      388           3.69216
3               2            310                      388           3.69216
4               2            310                      388           3.69216

   RAPE_Count  ROBBERY_CARJACKING_Count  ROBBERY_COMMERCIAL_Count  \
0           7                        16                         4
1           7                        16                         4
2           7                        16                         4
3           7                        16                         4
4           7                        16                         4

   ROBBERY_Count
0             29
1             29
2             29
3             29
4             29

[5 rows x 67 columns]

In [6]:
def g(df):
    for col in df.columns:
        if df[col].isnull().sum() > 0:
            print(f"{col} has {df[col].isnull().sum()} missing values")

result = g(df.copy())
print(result)

bathrooms has 1 missing values
bathroomsFull has 15 missing values
bedrooms has 3 missing values
datePosted has 92 missing values
livingArea has 288 missing values
rentEstimate has 32 missing values
Stories has 2130 missing values
yearBuilt has 1421 missing values
None

In [7]:
# Columns to be dropped
columns_to_drop = ['datePosted', 'livingArea', 'rentEstimate', 'Stories', 'yearBuilt']

# Dropping the columns
df.drop(columns=columns_to_drop, inplace=True)

# Check the DataFrame after dropping the columns
print(df.head())

                   geoLocation       neighbourhoodGeoLocation  \
0  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
1  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
2  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
3  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
4  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)

   neighbourhoodID  bathrooms  bathroomsFull  bathroomsHalf  bedrooms  price  \
0                0        2.0            2.0              0       3.0   2050
1                0        2.0            2.0              0       2.0   1740
2                0        2.0            2.0              0       2.0   1850
3                0        2.0            2.0              0       2.0   1940
4                0        2.0            2.0              0       3.0   2050

   propertyID  neighbourhoodID.1  ...  COMMON_ASSAULT_Count  crime_scoreID  \
0  2062003721                  0  ...                   102              0
1  2067797682                  0  ...                   102              0
2  2071152602                  0  ...                   102              0
3  2072105027                  0  ...                   102              0
4  2075119575                  0  ...                   102              0

  HOMICIDE_Count  LARCENY_Count  LARCENY_FROM_AUTO_Count  overallCrimeScore  \
0              2            310                      388            3.69216
1              2            310                      388            3.69216
2              2            310                      388            3.69216
3              2            310                      388            3.69216
4              2            310                      388            3.69216

   RAPE_Count  ROBBERY_CARJACKING_Count  ROBBERY_COMMERCIAL_Count  \
0           7                        16                         4
1           7                        16                         4
2           7                        16                         4
3           7                        16                         4
4           7                        16                         4

   ROBBERY_Count
0             29
1             29
2             29
3             29
4             29

[5 rows x 62 columns]

In [8]:
# Identifying categorical columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns
print("Categorical columns:", categorical_cols)

Categorical columns: Index(['geoLocation', 'neighbourhoodGeoLocation', 'Cooling', 'Heating',
       'Parking', 'Pets'],
      dtype='object')

In [9]:
# Display the first few rows of the geoLocation and neighbourhoodGeoLocation columns
print(df[['geoLocation', 'neighbourhoodGeoLocation']].head())

                   geoLocation       neighbourhoodGeoLocation
0  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
1  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
2  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
3  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
4  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)

In [10]:
# Function to extract latitude and longitude from the POINT format
def extract_lat_long(point):
    # Extracting the inside of the parentheses and splitting by space
    lat, long = point.replace('POINT (', '').replace(')', '').split()
    return float(lat), float(long)

# Apply the function to the geoLocation column
df['geoLocation_lat'], df['geoLocation_long'] = zip(*df['geoLocation'].apply(extract_lat_long))

# Apply the function to the neighbourhoodGeoLocation column
df['neighbourhoodGeoLocation_lat'], df['neighbourhoodGeoLocation_long'] = zip(*df['neighbourhoodGeoLocation'].apply(extract_lat_long))

# Check the first few rows of the DataFrame
print(df.head())

                   geoLocation       neighbourhoodGeoLocation  \
0  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
1  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
2  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
3  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)
4  POINT (39.37203 -76.685295)  POINT (39.370859 -76.6701475)

   neighbourhoodID  bathrooms  bathroomsFull  bathroomsHalf  bedrooms  price  \
0                0        2.0            2.0              0       3.0   2050
1                0        2.0            2.0              0       2.0   1740
2                0        2.0            2.0              0       2.0   1850
3                0        2.0            2.0              0       2.0   1940
4                0        2.0            2.0              0       3.0   2050

   propertyID  neighbourhoodID.1  ...  LARCENY_FROM_AUTO_Count  \
0  2062003721                  0  ...                      388
1  2067797682                  0  ...                      388
2  2071152602                  0  ...                      388
3  2072105027                  0  ...                      388
4  2075119575                  0  ...                      388

   overallCrimeScore RAPE_Count  ROBBERY_CARJACKING_Count  \
0            3.69216          7                        16
1            3.69216          7                        16
2            3.69216          7                        16
3            3.69216          7                        16
4            3.69216          7                        16

   ROBBERY_COMMERCIAL_Count  ROBBERY_Count  geoLocation_lat  geoLocation_long  \
0                         4             29         39.37203        -76.685295
1                         4             29         39.37203        -76.685295
2                         4             29         39.37203        -76.685295
3                         4             29         39.37203        -76.685295
4                         4             29         39.37203        -76.685295

   neighbourhoodGeoLocation_lat  neighbourhoodGeoLocation_long
0                     39.370859                     -76.670147
1                     39.370859                     -76.670147
2                     39.370859                     -76.670147
3                     39.370859                     -76.670147
4                     39.370859                     -76.670147

[5 rows x 66 columns]