In [1]:
import pandas as pd

# Replace 'your_data.csv' with the path to your CSV file
df = pd.read_csv('datasetdbaws.csv')
print(df.head())  # This will show the first few rows of your data

   propertyID  unitID  propertyDetailsID  priceHistoryID  feeID  addressID  \
0    36428890    2424               2424            2424   2424        635
1    36428953    2421               2421            2421   2421        632
2    36429007    2443               2443            2443   2443        654
3    36429137    2255               2255            2255   2255        468
4    36429337    2223               2223            2223   2223        436

   schoolID  buildingID                                           overview  \
0       545         NaN  BRAND NEW REHAB of a private "carriage house" ...
1       543         NaN  Beautiful well maintained 2 large bedroom and ...
2       555         NaN  1/2 month free rent\nStunning 3 bedroom, 3.5 b...
3       415         NaN  Welcome to this spacious 4-bedroom, 2.5-bathro...
4       299         NaN  *Available for a immediate move in* Four bedro...

   price  ...                     school_1_name  school_1_rating  \
0   2350  ...  Paul Laurence Dunbar High School              4.0
1   1800  ...  Paul Laurence Dunbar High School              4.0
2   2750  ...  Paul Laurence Dunbar High School              4.0
3   3000  ...  Paul Laurence Dunbar High School              4.0
4   2700  ...  Paul Laurence Dunbar High School              4.0

   school_1_distance                school_2_name school_2_rating  \
0                0.9  National Academy Foundation             2.0
1                0.8  National Academy Foundation             2.0
2                0.9  National Academy Foundation             2.0
3                1.0  National Academy Foundation             2.0
4                1.1  National Academy Foundation             2.0

  school_2_distance buildingOverview hasSwimmingPool  FitnessCenter.1  \
0               0.9              NaN             NaN              NaN
1               0.9              NaN             NaN              NaN
2               1.0              NaN             NaN              NaN
3               1.0              NaN             NaN              NaN
4               1.2              NaN             NaN              NaN

  crime_neighbourhood
0         GARWYN OAKS
1         FELLS POINT
2     LANGSTON HUGHES
3         FELLS POINT
4             CEDONIA

[5 rows x 86 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509 entries, 0 to 2508
Data columns (total 86 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   propertyID                2509 non-null   int64
 1   unitID                    2509 non-null   int64
 2   propertyDetailsID         2509 non-null   int64
 3   priceHistoryID            2509 non-null   int64
 4   feeID                     2509 non-null   int64
 5   addressID                 2509 non-null   int64
 6   schoolID                  2509 non-null   int64
 7   buildingID                1978 non-null   float64
 8   overview                  2509 non-null   object
 9   price                     2509 non-null   int64
 10  bathrooms                 2507 non-null   float64
 11  bathroomsHalf             2509 non-null   int64
 12  bathroomsFull             2493 non-null   float64
 13  bedrooms                  2505 non-null   float64
 14  livingArea                2221 non-null   object
 15  homeType                  2509 non-null   object
 16  homeStatus                2509 non-null   object
 17  datePosted                2417 non-null   object
 18  rentEstimate              2477 non-null   float64
 19  availableFrom             788 non-null    object
 20  availableNow              2509 non-null   int64
 21  unitName                  1816 non-null   object
 22  unitNumber                2197 non-null   object
 23  city                      2509 non-null   object
 24  state                     2509 non-null   object
 25  country                   2509 non-null   object
 26  geoLocation               2509 non-null   object
 27  neighbourhoodGeoLocation  2509 non-null   object
 28  propertyDetailsID.1       2509 non-null   int64
 29  yearBuilt                 1111 non-null   float64
 30  Cooling                   2509 non-null   object
 31  Heating                   2509 non-null   object
 32  Pets                      2509 non-null   object
 33  Parking                   2509 non-null   object
 34  Dishwasher                2509 non-null   int64
 35  garbageDisposal           2509 non-null   int64
 36  Dryer                     2509 non-null   int64
 37  Refrigerator              2509 non-null   int64
 38  Microwave                 2509 non-null   int64
 39  Oven                      2509 non-null   int64
 40  Freezer                   2509 non-null   int64
 41  Washer                    2509 non-null   int64
 42  Stove                     2509 non-null   int64
 43  TrashCompactor            2509 non-null   int64
 44  NearPublicTransit         2509 non-null   int64
 45  LaundryFeaturesInUnit     2509 non-null   int64
 46  Playground                2509 non-null   int64
 47  OnSiteLaundryAvailable    2509 non-null   int64
 48  CableAvailable            2509 non-null   int64
 49  FitnessCenter             2509 non-null   int64
 50  Gated                     2509 non-null   int64
 51  Pool                      2509 non-null   int64
 52  Patio                     2509 non-null   int64
 53  LaundryFeaturesShared     2509 non-null   int64
 54  WindowCoverings           2509 non-null   int64
 55  Gas                       2509 non-null   int64
 56  Clubhouse                 2509 non-null   int64
 57  Water                     2509 non-null   int64
 58  Sewage                    2509 non-null   int64
 59  HasGarbageBin             2509 non-null   int64
 60  Porch                     2509 non-null   int64
 61  Deck                      2509 non-null   int64
 62  Skylights                 2509 non-null   int64
 63  LaundryFeaturesNone       2509 non-null   int64
 64  LaundryFeaturesHookups    2509 non-null   int64
 65  DoublePaneWindows         2509 non-null   int64
 66  Sauna                     2509 non-null   int64
 67  Stories                   410 non-null    float64
 68  deposit_fee               1739 non-null   float64
 69  pet_fee                   1206 non-null   float64
 70  application_fee           671 non-null    float64
 71  administrative_fee        412 non-null    float64
 72  pet_deposit_fee           557 non-null    float64
 73  school_0_name             2509 non-null   object
 74  school_0_rating           2477 non-null   float64
 75  school_0_distance         2509 non-null   float64
 76  school_1_name             2509 non-null   object
 77  school_1_rating           2363 non-null   float64
 78  school_1_distance         2509 non-null   float64
 79  school_2_name             2509 non-null   object
 80  school_2_rating           2080 non-null   float64
 81  school_2_distance         2509 non-null   float64
 82  buildingOverview          1509 non-null   object
 83  hasSwimmingPool           1978 non-null   float64
 84  FitnessCenter.1           1978 non-null   float64
 85  crime_neighbourhood       2509 non-null   object
dtypes: float64(20), int64(44), object(22)
memory usage: 1.6+ MB

In [3]:
df.isnull().sum()

propertyID                0
unitID                    0
propertyDetailsID         0
priceHistoryID            0
feeID                     0
                       ...
school_2_distance         0
buildingOverview       1000
hasSwimmingPool         531
FitnessCenter.1         531
crime_neighbourhood       0
Length: 86, dtype: int64

In [4]:
print(df['overview'].sample(5))

9       Canton townhouse just updated with new kitchen...
157     Rental Requirements:\n\n3x the rental amount i...
741     Find the right apartment for you in the heart ...
2211    Uniquely positioned at the nexus of Baltimore'...
472     Historic Mt. Washington 2 bedroom apartment on...
Name: overview, dtype: object

In [5]:
print(df['buildingOverview'].sample(5))

841                                                   NaN
2165    Spinnaker Bay, with newly renovated amenities,...
748     Welcome home!\n\nConveniently situated in down...
584                                                   NaN
2057    Live at Baltimore's best and brightest. Centra...
Name: buildingOverview, dtype: object

In [6]:
# Dropping the 'overview' and 'buildingOverview' columns
df.drop(['overview', 'buildingOverview'], axis=1, inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509 entries, 0 to 2508
Data columns (total 84 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   propertyID                2509 non-null   int64
 1   unitID                    2509 non-null   int64
 2   propertyDetailsID         2509 non-null   int64
 3   priceHistoryID            2509 non-null   int64
 4   feeID                     2509 non-null   int64
 5   addressID                 2509 non-null   int64
 6   schoolID                  2509 non-null   int64
 7   buildingID                1978 non-null   float64
 8   price                     2509 non-null   int64
 9   bathrooms                 2507 non-null   float64
 10  bathroomsHalf             2509 non-null   int64
 11  bathroomsFull             2493 non-null   float64
 12  bedrooms                  2505 non-null   float64
 13  livingArea                2221 non-null   object
 14  homeType                  2509 non-null   object
 15  homeStatus                2509 non-null   object
 16  datePosted                2417 non-null   object
 17  rentEstimate              2477 non-null   float64
 18  availableFrom             788 non-null    object
 19  availableNow              2509 non-null   int64
 20  unitName                  1816 non-null   object
 21  unitNumber                2197 non-null   object
 22  city                      2509 non-null   object
 23  state                     2509 non-null   object
 24  country                   2509 non-null   object
 25  geoLocation               2509 non-null   object
 26  neighbourhoodGeoLocation  2509 non-null   object
 27  propertyDetailsID.1       2509 non-null   int64
 28  yearBuilt                 1111 non-null   float64
 29  Cooling                   2509 non-null   object
 30  Heating                   2509 non-null   object
 31  Pets                      2509 non-null   object
 32  Parking                   2509 non-null   object
 33  Dishwasher                2509 non-null   int64
 34  garbageDisposal           2509 non-null   int64
 35  Dryer                     2509 non-null   int64
 36  Refrigerator              2509 non-null   int64
 37  Microwave                 2509 non-null   int64
 38  Oven                      2509 non-null   int64
 39  Freezer                   2509 non-null   int64
 40  Washer                    2509 non-null   int64
 41  Stove                     2509 non-null   int64
 42  TrashCompactor            2509 non-null   int64
 43  NearPublicTransit         2509 non-null   int64
 44  LaundryFeaturesInUnit     2509 non-null   int64
 45  Playground                2509 non-null   int64
 46  OnSiteLaundryAvailable    2509 non-null   int64
 47  CableAvailable            2509 non-null   int64
 48  FitnessCenter             2509 non-null   int64
 49  Gated                     2509 non-null   int64
 50  Pool                      2509 non-null   int64
 51  Patio                     2509 non-null   int64
 52  LaundryFeaturesShared     2509 non-null   int64
 53  WindowCoverings           2509 non-null   int64
 54  Gas                       2509 non-null   int64
 55  Clubhouse                 2509 non-null   int64
 56  Water                     2509 non-null   int64
 57  Sewage                    2509 non-null   int64
 58  HasGarbageBin             2509 non-null   int64
 59  Porch                     2509 non-null   int64
 60  Deck                      2509 non-null   int64
 61  Skylights                 2509 non-null   int64
 62  LaundryFeaturesNone       2509 non-null   int64
 63  LaundryFeaturesHookups    2509 non-null   int64
 64  DoublePaneWindows         2509 non-null   int64
 65  Sauna                     2509 non-null   int64
 66  Stories                   410 non-null    float64
 67  deposit_fee               1739 non-null   float64
 68  pet_fee                   1206 non-null   float64
 69  application_fee           671 non-null    float64
 70  administrative_fee        412 non-null    float64
 71  pet_deposit_fee           557 non-null    float64
 72  school_0_name             2509 non-null   object
 73  school_0_rating           2477 non-null   float64
 74  school_0_distance         2509 non-null   float64
 75  school_1_name             2509 non-null   object
 76  school_1_rating           2363 non-null   float64
 77  school_1_distance         2509 non-null   float64
 78  school_2_name             2509 non-null   object
 79  school_2_rating           2080 non-null   float64
 80  school_2_distance         2509 non-null   float64
 81  hasSwimmingPool           1978 non-null   float64
 82  FitnessCenter.1           1978 non-null   float64
 83  crime_neighbourhood       2509 non-null   object
dtypes: float64(20), int64(44), object(20)
memory usage: 1.6+ MB