In [10]:
import pandas as pd

# In this notebook we will load in all of our datasets. We will remove all rows from every dataset who's zpid values don't exist in main_information_df. Additionally, any other needed cleaning will be done on each datset

# Apartment Unit Dataset Cleaning:

In [182]:
# load in dataset
apartment_units_df = pd.read_csv("D:/DataSets/msc_group_project/apartment_unit_information.csv")

In [183]:
# filter datset
apartment_units_df = apartment_units_df[apartment_units_df['zpid'].isin(zpid_set)]
apartment_units_df = apartment_units_df.reset_index(drop = True)

In [184]:
# create list that stores zpids

extra_info_zpids = []

# find addresses with some extra information
for i in range(len(apartment_units_df)):
    string = "Baltimore"
    if string not in apartment_units_df["address"][i]:
        extra_info_zpids.append(apartment_units_df["zpid"][i])

In [185]:
# drop unneeded columns
columns_to_keep = ["zpid","unitNumber","lotId","name"]

apartment_units_df_copy = apartment_units_df[columns_to_keep]

#find empty columns in unitNumber

indexes_with_nan = apartment_units_df_copy.index[apartment_units_df_copy['unitNumber'].isna()]
indexes_with_nan

Int64Index([  21,   22,   23,  693,  990, 1238, 1240, 1570, 1571, 1572, 1630,
            1631, 1682, 1683, 1684, 1685, 1745, 1746, 1747, 1767, 1788, 1795,
            1807, 1925, 1926],
           dtype='int64')

In [186]:
apartment_units_df_copy.to_csv("D:/DataSets/msc_datasets_cleaned/apartment_unit_information_2.csv", index = False)

In [187]:
# load in newly made version
apartment_units_df_copy_n = pd.read_csv("D:/DataSets/msc_datasets_cleaned/apartment_unit_information.csv")

apartment_units_df_copy_n = apartment_units_df_copy.rename(columns={'lotId': 'buildingID'})

In [189]:
# save changes
apartment_units_df_copy_n.to_csv("D:/DataSets/msc_datasets_cleaned/apartment_unit_information.csv", index = False)

# Main information Dataset Cleaning

In [190]:
# Load in main information dataset, our reference datset
main_information_df = pd.read_csv("D:/DataSets/msc_datasets/main_information_msc.csv")
# incase we need later
main_information_df_backup = main_information_df
# do some modifying to the bathrooms feature:

import numpy as np

# fill in blank price columns from main information
for i in range(len(main_information_df)):
    # modify bathroom column
    if main_information_df["bathroomsHalf"][i] > 0:
        main_information_df.loc[i, "bathrooms"] += 0.5
        
    is_empty = main_information_df["bathroomsHalf"].iloc[i]
    
    if np.isnan(is_empty):
        main_information_df.loc[i,"bathroomsHalf"] = 0

# drop unneeded columns
main_information_df = main_information_df.drop("url", axis = 1)
main_information_df = main_information_df.drop("buildingName", axis = 1)
main_information_df = main_information_df.drop("postingGroupName", axis = 1)
main_information_df = main_information_df.drop("agentName", axis = 1)


main_information_df = main_information_df.reset_index(drop=True)

In [191]:
# drop columns using stored schools dataset
main_information_df["availableFrom"] = apartment_units_df["availableFrom"].fillna(0)

In [192]:
# create set with zpid information, use later
zpid_set = set(main_information_df['zpid'])

In [193]:
# convert the availability column into a text date
import datetime

for i in range(len(main_information_df)):
    number = (main_information_df["availableFrom"][i])
    if not pd.isna(number) and isinstance(number, float):
        number = int(number)
        
        if number == 0:
            main_information_df.loc[i,"availableFrom"] = "Available Now"
        else:
            # divide by 1000 as function doesn't accept milliseconds
            date = datetime.datetime.fromtimestamp(number/ 1000)
            main_information_df.loc[i,"availableFrom"] = date
            
    elif pd.isna(number):
        value = quick_glance_df_copy["Date available"][i]
        
        if pd.isna(value):
            main_information_df.loc[i,"availableFrom"] = "Available Now"
        elif value != "Available Now":
            date_obj = datetime.datetime.strptime(value, '%a %b %d %Y')
            main_information_df.loc[i,"availableFrom"] = date_obj.strftime('%d/%m/%Y')
        else:
            main_information_df.loc[i,"availableFrom"] = value

In [194]:
main_information_df["schoolID"] = stored_schools["schoolID"]
main_information_df.insert(1,"schoolID",main_information_df.pop("schoolID"))

In [195]:
new_instance_df = main_information_df.copy()

# Create a new column 'AvailableNow' and set it to True where your column is 'Available Now', False otherwise
new_instance_df['availableNow'] = new_instance_df['availableFrom'] == 'Available Now'

# Remove 'Available Now' from your column
new_instance_df['availableFrom'] = new_instance_df['availableFrom'].replace('Available Now', '', regex=True)

In [196]:
new_instance_df.to_csv("D:/DataSets/msc_datasets_cleaned/main_information_msc.csv", index = False)

# Image datset

In [492]:
images_df = pd.read_csv("D:/Datasets/msc_datasets/image_data.csv")

In [493]:
images_df = images_df[images_df['zpid'].isin(zpid_set)]
images_df = images_df.reset_index(drop = True)

In [495]:
images_df = images_df.drop("geoLocation", axis = 1)

In [496]:
# save dataset
images_df.to_csv("D:/DataSets/msc_datasets_cleaned/image_data.csv", index = False)

# Price History Dataset

In [22]:
price_history_df = pd.read_csv("D:/DataSets/msc_datasets/price_history.csv")

In [23]:
# filter datset
price_history_df = price_history_df[price_history_df['zpid'].isin(zpid_set)]
price_history_df = price_history_df.reset_index(drop = True)

In [24]:
# remove unwanted columns
price_history_df = price_history_df.drop("buildingName", axis = 1)
price_history_df = price_history_df.drop("geoLocation", axis = 1)

In [25]:
price_history_df.to_csv("D:/DataSets/msc_datasets_cleaned/price_history.csv", index = False)

# School information Dataset

In [404]:
schools_df = pd.read_csv("D:/DataSets/msc_datasets/schools.csv")

In [405]:
# filter datset
schools_df = schools_df[schools_df['zpid'].isin(zpid_set)]
schools_df = schools_df.reset_index(drop = True)

In [406]:
zpid_set_schools = schools_df["zpid"]

# remove unwanted columns
schools_df = schools_df.drop("buildingName", axis = 1)
schools_df = schools_df.drop("geoLocation", axis = 1)
schools_df = schools_df.drop("zpid", axis = 1)

In [407]:
import pandas as pd

# create ids
unique_ids = {}
current_id = 0 

def get_unique_id(row):
    global current_id
    row_str = ''.join(str(e) for e in row)
    
    if row_str not in unique_ids:
        unique_ids[row_str] = current_id
        current_id += 1
    
    return unique_ids[row_str]


schools_df['schoolID'] = schools_df.apply(get_unique_id, axis=1)
stored_schools = schools_df.copy()

In [408]:
stored_schools["zpid"] = main_information_df["zpid"]

In [409]:
# remove duplicate rows based on all columns
schools_df = schools_df.drop_duplicates()

In [410]:
# zpids filtered:
zpids_filtered = schools_df[schools_df.index.isin(zpid_set_schools.index.tolist())]

In [411]:
# add zpid column

schools_df["zpid"] = zpid_set_schools.loc[zpids_filtered.index.tolist()]
schools_df.insert(0,"zpid",schools_df.pop("zpid"))

In [412]:
for i in range(3):
    schools_df[f'school_{i}_grades']  = schools_df[f'school_{i}_grades'].astype(str)
    schools_df[f'school_{i}_grades']  = schools_df[f'school_{i}_grades'] .str.replace('-', ' to ')

In [413]:
schools_df = schools_df.reset_index(drop = True)

In [414]:
schools_df.insert(1,"schoolID",schools_df.pop("schoolID"))

In [415]:
# save new dataset
schools_df.to_csv("D:/DataSets/msc_datasets_cleaned/schools.csv", index = False)

# Fees dataset cleaning

In [93]:
fees_df = pd.read_csv("D:/DataSets/msc_datasets/fees.csv")

In [94]:
# filter datset
fees_df = fees_df[fees_df['zpid'].isin(zpid_set)]
fees_df = fees_df.reset_index(drop = True)

In [96]:
# Remove geoLocation and buildingNames
fees_df = fees_df.drop("geoLocation", axis = 1)
fees_df = fees_df.drop("buildingName", axis = 1)

In [97]:
fees_df.to_csv("D:/DataSets/msc_datasets_cleaned/fees.csv", index = False)

# Apartment Building Dataset Cleaning

In [158]:
# load in dataset
apartment_building_df = pd.read_csv("D:/DataSets/msc_datasets/apartment_buildings.csv")

In [159]:
# create a copy
apartment_building_df_copy = apartment_building_df

In [160]:
# Drop duplicates and keep the first occurrence
apartment_building_df_copy = apartment_building_df_copy.drop_duplicates(subset= 'lotId', keep='first')
len(apartment_building_df_copy)

200

In [161]:
# store apartment building address information
apartment_building_df_copy_2 = apartment_building_df_copy
apartment_building_df_copy_2['street_addresses_buildings'] = apartment_building_df_copy["address"].str.split(',').str[0]

In [162]:
# remove unneeded columns
columns_to_remove = ["buildingType","buildingName","longitude","latitude","address", "fees","buildingStatus","street_addresses_buildings"]

apartment_building_df_copy = apartment_building_df_copy.drop(columns=columns_to_remove)

In [163]:
#reposition columns

#cats
apartment_building_df_copy.insert(8, "Cats", apartment_building_df_copy.pop("Cats"))

#rename to match our naming convention
apartment_building_df_copy = apartment_building_df_copy.rename(columns={'Cats': 'cats'})

# pets
apartment_building_df_copy.insert(8, "No pets", apartment_building_df_copy.pop("No pets"))
apartment_building_df_copy = apartment_building_df_copy.rename(columns={'No pets': 'no_pets'})
apartment_building_df_copy['no_pets'] = apartment_building_df_copy['no_pets'].replace('allowed', 'true')

# rooms
apartment_building_df_copy.insert(14, "room7", apartment_building_df_copy.pop("room7"))
apartment_building_df_copy.insert(14, "room6", apartment_building_df_copy.pop("room6"))
apartment_building_df_copy.insert(14, "room5", apartment_building_df_copy.pop("room5"))
apartment_building_df_copy.insert(14, "room4", apartment_building_df_copy.pop("room4"))
apartment_building_df_copy.insert(14, "room3", apartment_building_df_copy.pop("room3"))
apartment_building_df_copy.insert(14, "room2", apartment_building_df_copy.pop("room2"))

### The way the information is displayed is confusing, rather than having room numbers as colums, let's make the values in their columns be the feature names instead.

In [164]:
# create new temporary dataset
app_build_features_new = apartment_building_df_copy.iloc[:, :0].join(apartment_building_df_copy.iloc[:, 12:])

In [165]:
# Create an empty dataframe for the binary representation
binary_df = pd.DataFrame()

# Iterate over the original columns
for column in app_build_features_new.columns:
    # Get unique values in the original column
    unique_values = app_build_features_new[column].unique()
    unique_values = [value for value in unique_values if pd.notna(value)]  # Remove NaN values
    
    # Create a new column for each unique value and set initial values to False
    for value in unique_values:
        binary_df[value] = False

In [166]:
for index, row in app_build_features_new.iterrows():
    # Iterate over the original columns
    for column in app_build_features_new.columns:
        value = row[column]
        if pd.notna(value):
            binary_df.at[index, value] = True

In [167]:
binary_df = binary_df.drop("Unknown", axis = 1)
binary_df = binary_df.fillna(False)

In [168]:
# remove old rows from apartment buildings now
subset_df = apartment_building_df_copy.iloc[:, :12]

In [169]:
# combine old dataset with new one
merged_df = pd.concat([subset_df, binary_df], axis=1)
merged_df[merged_df.columns[3:]] = merged_df[merged_df.columns[3:]].fillna(False)

In [176]:
merged_df = merged_df.rename(columns={'lotId': 'buildingID'})

In [177]:
apartment_building_df_copy = merged_df.copy()

In [526]:
apartment_building_df_copy = apartment_building_df_copy.drop("geoLocation", axis = 1)

In [527]:
apartment_building_df_copy.to_csv("D:/DataSets/msc_datasets_cleaned/apartment_buildings.csv", index = False)

# Quick Glance Features and Interior Feature Datasets

#### Here we will combine these 2 dataets and use the same technique we used on the apartment buildings dataset

In [328]:
interior_df = pd.read_csv("D:/DataSets/msc_datasets/interior_features.csv")

In [330]:
quick_glance_df = pd.read_csv("D:/DataSets/msc_datasets/quick_glance_features.csv")
# create copy
quick_glance_df_copy = quick_glance_df.copy()

# filter datset, these two lines below are just used to replace the datetime missing information in the main information dataset above
quick_glance_df_copy = quick_glance_df_copy[quick_glance_df_copy['zpid'].isin(zpid_set)]
quick_glance_df_copy = quick_glance_df_copy.reset_index(drop = True)

In [331]:
# Remove all columns after column 12
quick_glance_df = quick_glance_df.iloc[:, :11]
quick_glance_df = quick_glance_df.drop("geoLocation", axis = 1)
quick_glance_df = quick_glance_df.drop("buildingName", axis = 1)

### Now combine the datasets

In [332]:
# Merge the three datasets horizontally (columns)
combined_dataset = pd.concat([quick_glance_df, interior_df], axis=1)

# Identify duplicate columns
duplicate_columns = combined_dataset.columns[combined_dataset.columns.duplicated(keep='first')]

# Create a new DataFrame with unique column names
combined_dataset = combined_dataset.loc[:, ~combined_dataset.columns.duplicated(keep='first')]

In [333]:
# drop columns we already have information about
combined_dataset = combined_dataset.drop("geoLocation", axis = 1)
combined_dataset = combined_dataset.drop("Deposit & fees", axis = 1)
combined_dataset = combined_dataset.drop("Laundry", axis = 1)
combined_dataset = combined_dataset.drop("Date available", axis = 1)
combined_dataset = combined_dataset.drop("buildingName", axis = 1)
combined_dataset = combined_dataset.drop("Type", axis = 1)

### Now repeat the same process as we did with the apartment buildings dataset

In [385]:
# create dataset that uses only the features we want to work on
combined_temp = combined_dataset.iloc[:, :0].join(combined_dataset.iloc[:, 5:])

In [540]:
# Create an empty dataframe for the binary representation
binary_df = pd.DataFrame()

# Iterate over the original columns
for column in combined_temp.columns:
    # Get unique values in the original column
    unique_values = combined_temp[column].unique()
    unique_values = [value for value in unique_values if pd.notna(value)]  # Remove NaN values
    
    # Create a new column for each unique value and set initial values to False
    for value in unique_values:
        binary_df[value] = False

In [541]:
for index, row in combined_temp.iterrows():
    # Iterate over the original columns
    for column in combined_temp.columns:
        value = row[column]
        if pd.notna(value):
            binary_df.at[index, value] = True

In [542]:
binary_df = binary_df.fillna(False)

In [543]:
# garbage columns
binary_df['garbageDisposal'] = binary_df['Garbage disposal'] | binary_df['GarbageDisposal']
binary_df.insert(3,"garbageDisposal",binary_df.pop("garbageDisposal"))

# drop original columns
binary_df = binary_df.drop("Garbage disposal", axis = 1)
binary_df = binary_df.drop("GarbageDisposal", axis =1)

In [544]:
# oven columns
binary_df['Oven'] = binary_df['RangeOven'] | binary_df['Range / Oven']
binary_df.insert(6,"Oven",binary_df.pop("Oven"))

# drop original columns
binary_df = binary_df.drop("RangeOven", axis = 1)
binary_df = binary_df.drop("Range / Oven", axis =1)

In [545]:
binary_df = binary_df.rename(columns={'Garbage': 'Has Garbage Bin'})

In [546]:
# drop all other columns we don't want:
binary_df = binary_df.drop("Tennis Court(s)", axis =1)
binary_df = binary_df.drop("Basketball Court", axis =1)
binary_df = binary_df.drop("SatTv", axis =1)
binary_df = binary_df.drop("Cable Connected", axis =1)
binary_df = binary_df.drop("Internet", axis =1)
binary_df = binary_df.drop("Electricity", axis =1)

In [547]:
# take original columns
subset_df = combined_dataset.iloc[:, :5]

In [548]:
# combine old dataset with new one
merged_df = pd.concat([subset_df, binary_df], axis=1)
merged_df[merged_df.columns[3:]] = merged_df[merged_df.columns[3:]].fillna(False)

In [549]:
merged_df["yearBuilt"] = main_information_df["yearBuilt"]
merged_df.insert(1,"yearBuilt",merged_df.pop("yearBuilt"))
merged_df["stories"] = main_information_df["stories"]

In [553]:
# save dataset
merged_df.to_csv("D:/DataSets/msc_datasets_cleaned/property_details.csv", index = False)

# Exterior features

In [400]:
exterior_df = pd.read_csv("D:/DataSets/msc_datasets/exterior_features.csv")

In [401]:
# filter datset
exterior_df = exterior_df[exterior_df['zpid'].isin(zpid_set)]
exterior_df = exterior_df.reset_index(drop = True)

In [402]:
# Remove geoLocation and buildingNames
exterior_df = exterior_df.drop("geoLocation", axis = 1)
exterior_df = exterior_df.drop("buildingName", axis = 1)

In [403]:
# save dataset
exterior_df.to_csv("D:/DataSets/msc_datasets_cleaned/property_details_extra.csv", index = False)

# Addresses dataset cleaning:

In [19]:
# Create a set of unique "zpid" values
addresses_df = pd.read_csv("D:/DataSets/msc_group_project/addresses_all_n.csv")



# Filter dataset to keep only rows with matching "zpid" values
addresses_df = addresses_df[addresses_df['zpid'].isin(zpid_set)]

#### Since google maps doesn't let us cache the neighbourhood names, we have to store their geocoordinates instead. Below let's find them.

In [20]:
# get unique neighbourhood names
neighbourhood_names = addresses_df.drop_duplicates(subset='neighbourhood')
neighbourhood_names = neighbourhood_names.reset_index(drop = True)

#### Below we will use the google maps api to extract coordinate information using our neighbourhood_geo_df dataset

In [517]:
import requests

# create function that returns geocoordinates
def retreive_coordinates(neighbourhood_name):
    city = "Baltimore"
    api_key = "AIzaSyByHGJk2EDmJBcgJkisa8KKgWIllFSSxoU"

    url = f"https://maps.googleapis.com/maps/api/geocode/json?address={neighbourhood_name},{city}&key={api_key}"

    response = requests.get(url)
    data = response.json()

    if data["status"] == "OK":
        location = data["results"][0]["geometry"]["location"]
        latitude = location["lat"]
        longitude = location["lng"]
        print(f"Latitude: {latitude}, Longitude: {longitude}, Neighbourhood: {neighbourhood_name}")
        return str(f"{latitude}, {longitude}")
    else:
        print("Geocoding request failed.")
        return None

#### Next, using a for loop we will call our function to retrieve each neighbourhoods' geolocation

In [59]:
import time

neighbourhood_cols_rows = []
iterations = len(neighbourhood_names)

# run loop
for i in range(iterations):
    temp_dict = {}
    neighbourhood_name = neighbourhood_names["neighbourhood"][i]
    temp_dict[str(neighbourhood_name)] = retreive_coordinates(neighbourhood_name)
    
    # add dict to list
    neighbourhood_cols_rows.append(temp_dict)
    
    if i % 2 == 0 and i <= iterations:
        time.sleep(2)

Latitude: 39.36253019999999, Longitude: -76.6595727, Neighborhood: Mount Washington
Latitude: 39.2842097, Longitude: -76.593611, Neighborhood: Fells Point
Latitude: 39.3226705, Longitude: -76.5846633, Neighborhood: Clifton
Latitude: 39.292007, Longitude: -76.6167212, Neighborhood: Downtown
Latitude: 39.3481652, Longitude: -76.6831397, Neighborhood: Arlington
Latitude: 39.2809401, Longitude: -76.6719138, Neighborhood: Carroll
Latitude: 39.320533, Longitude: -76.7065867, Neighborhood: Purnell
Latitude: 39.340349, Longitude: -76.59362329999999, Neighborhood: Greater Northwood Covenant Association
Latitude: 39.3421205, Longitude: -76.5982801, Neighborhood: Northwood
Latitude: 39.2680512, Longitude: -76.59105919999999, Neighborhood: Locust Point
Latitude: 39.2903848, Longitude: -76.6121893, Neighborhood: nan
Latitude: 39.2530783, Longitude: -76.64659019999999, Neighborhood: Lakeland
Latitude: 39.308315, Longitude: -76.62538649999999, Neighborhood: Bolton Hill
Latitude: 39.2887746, Longitude: -76.56674919999999, Neighborhood: Highlandtown
Latitude: 39.3359385, Longitude: -76.6977522, Neighborhood: Gwynn Oak
Latitude: 39.2821913, Longitude: -76.6145548, Neighborhood: Otterbein
Latitude: 39.3052934, Longitude: -76.70912, Neighborhood: Franklintown
Latitude: 39.2490357, Longitude: -76.6251606, Neighborhood: Cherry Hill
Latitude: 39.3317734, Longitude: -76.64941360000002, Neighborhood: Woodberry
Latitude: 39.338563, Longitude: -76.6224981, Neighborhood: Tuscany - Canterbury
Latitude: 39.2946696, Longitude: -76.6065747, Neighborhood: East Case
Latitude: 39.3660584, Longitude: -76.6398272, Neighborhood: New North Roland Park - Poplar Hill
Latitude: 39.2729056, Longitude: -76.6083646, Neighborhood: Riverside
Latitude: 39.319147, Longitude: -76.6451409, Neighborhood: Druid Hill Park
Latitude: 39.279304, Longitude: -76.6116662, Neighborhood: Federal Hill-Montgomery
Latitude: 39.3169102, Longitude: -76.6773655, Neighborhood: Garwyn Oaks
Latitude: 39.3211342, Longitude: -76.69180039999999, Neighborhood: West Forest Park
Latitude: 39.2858482, Longitude: -76.61311049999999, Neighborhood: Inner Harbor
Latitude: 39.284645, Longitude: -76.6246644, Neighborhood: Ridgely's Delight
Latitude: 39.3304324, Longitude: -76.59649999999999, Neighborhood: Ednor Gardens - Lakeside
Latitude: 39.3554407, Longitude: -76.5331511, Neighborhood: Raspeburg
Latitude: 39.3200501, Longitude: -76.6167212, Neighborhood: Charles Village
Latitude: 39.3398124, Longitude: -76.6441591, Neighborhood: Medfield
Latitude: 39.2787025, Longitude: -76.61744329999999, Neighborhood: Sharp Leadenhall
Latitude: 39.3616138, Longitude: -76.56905189999999, Neighborhood: Harford - Echodale - Perring Parkway
Latitude: 39.31253239999999, Longitude: -76.6780873, Neighborhood: Mount Holly
Latitude: 39.3500792, Longitude: -76.6077528, Neighborhood: Govans
Latitude: 39.3098541, Longitude: -76.6167212, Neighborhood: Station North
Latitude: 39.2886346, Longitude: -76.5878328, Neighborhood: Upper Fells Point
Latitude: 39.33337059999999, Longitude: -76.632607, Neighborhood: Hampden
Latitude: 39.3149523, Longitude: -76.6167212, Neighborhood: Old Goucher
Latitude: 39.2381955, Longitude: -76.60372219999999, Neighborhood: Brooklyn
Latitude: 39.3390889, Longitude: -76.60516659999999, Neighborhood: Pen Lucy
Latitude: 39.3299076, Longitude: -76.6138327, Neighborhood: Oakenshawe
Latitude: 39.3200976, Longitude: -76.6116662, Neighborhood: Harwood
Latitude: 39.3227872, Longitude: -76.59649999999999, Neighborhood: Coldstream - Homestead - Montebello
Latitude: 39.3014786, Longitude: -76.6542664, Neighborhood: Bridgeview-Greenlawn
Latitude: 39.3018504, Longitude: -76.5950466, Neighborhood: Gay Street
Latitude: 39.2903848, Longitude: -76.6121893, Neighborhood: Franklin
Latitude: 39.2704952, Longitude: -76.61512379999999, Neighborhood: South Baltimore
Latitude: 39.29883330000001, Longitude: -76.5878328, Neighborhood: Middle East
Latitude: 39.2812753, Longitude: -76.6340511, Neighborhood: Pigtown
Latitude: 39.2987184, Longitude: -76.5496869, Neighborhood: Orangeville
Latitude: 39.3232464, Longitude: -76.6058888, Neighborhood: Better Waverly
Latitude: 39.2930123, Longitude: -76.5871105, Neighborhood: Butchers Hill
Latitude: 39.2971002, Longitude: -76.6549883, Neighborhood: Evergreen Lawn
Latitude: 39.2646339, Longitude: -76.6547794, Neighborhood: Morrell Park
Latitude: 39.3493942, Longitude: -76.5517132, Neighborhood: Glenham-Belford
Latitude: 39.2902755, Longitude: -76.6237513, Neighborhood: Western
Latitude: 39.3007532, Longitude: -76.576998, Neighborhood: Madison - Eastend
Latitude: 39.3108055, Longitude: -76.6687038, Neighborhood: Walbrook
Latitude: 39.3244736, Longitude: -76.6109441, Neighborhood: Abell
Latitude: 39.31471000000001, Longitude: -76.60372219999999, Neighborhood: East Baltimore Midway
Latitude: 39.3206574, Longitude: -76.6227009, Neighborhood: Remington
Latitude: 39.29714389999999, Longitude: -76.5733862, Neighborhood: Elwood Park
Latitude: 39.3069138, Longitude: -76.65715399999999, Neighborhood: Coppin Heights
Latitude: 39.2869295, Longitude: -76.6333291, Neighborhood: Hollins Market
Latitude: 39.3455647, Longitude: -76.5733862, Neighborhood: Lauraville
Latitude: 39.3142264, Longitude: -76.6542664, Neighborhood: Mondawmin
Latitude: 39.2821834, Longitude: -76.5762756, Neighborhood: Canton
Latitude: 39.2847048, Longitude: -76.6279137, Neighborhood: Barre Circle
Latitude: 39.3149999, Longitude: -76.6116662, Neighborhood: Barclay
Latitude: 39.31791520000001, Longitude: -76.6860267, Neighborhood: Windsor Hills
Latitude: 39.35740730000001, Longitude: -76.631163, Neighborhood: Wyndhurst
Latitude: 39.3264513, Longitude: -76.68819180000001, Neighborhood: Forest Park
Latitude: 39.3308703, Longitude: -76.6275527, Neighborhood: Wyman Park
Latitude: 39.3060415, Longitude: -76.6715911, Neighborhood: Rosemont
Latitude: 39.2973857, Longitude: -76.66292899999999, Neighborhood: Mosher
Latitude: 39.30592439999999, Longitude: -76.6650946, Neighborhood: NW Community Action
Latitude: 39.3041275, Longitude: -76.6441591, Neighborhood: Winchester
Latitude: 39.3625548, Longitude: -76.544488, Neighborhood: Woodring
Latitude: 39.2208578, Longitude: -76.5863882, Neighborhood: Curtis Bay
Latitude: 39.3003232, Longitude: -76.5842213, Neighborhood: Milton - Montford

#### Now let's replace the neighbour string names with their geoocoordinates

In [23]:
neighbourhood_data = neighbourhood_cols_rows
# Create a dictionary to map neighborhood names to coordinates
neighbourhood_coordinates = {key: value for neighborhood_dict in neighbourhood_data for key, value in neighborhood_dict.items()}

# Now remove the neighbourhood string name column, but keep the new coordinate column
if "neighbourhood" in addresses_df.columns:
    # Add a new column 'Coordinates' to the DataFrame by mapping neighborhood names to coordinates
    addresses_df['neighbourhoodGeoLocation'] = addresses_df['neighbourhood'].map(neighbourhood_coordinates)

    addresses_df = addresses_df.drop("neighbourhood", axis = 1)

# remove other non needed columns: 
addresses_df = addresses_df.drop("zillowBuildingUrl", axis = 1)

In [479]:
# reset the indexes
addresses_df = addresses_df.reset_index(drop = True)

In [480]:
addresses_df_copy = addresses_df

In [481]:
for zpid in extra_info_zpids:
    matching_row = apartment_units_df[apartment_units_df['zpid'] == zpid]
    if not matching_row.empty:
        
        index = addresses_df_copy[addresses_df_copy['zpid'] == zpid].index
        # Extract the information between the commas
        extracted_info = matching_row['address'].str.split(',').str[1].str.strip().iloc[0]

        for i in index:
            if " St" in addresses_df_copy.loc[i, "streetAddress"]:
                addresses_df_copy.loc[i, "streetAddress"] = addresses_df_copy.loc[i, "streetAddress"].replace(" St", " St " + extracted_info, 1)
            elif " Dr" in addresses_df_copy.loc[i, "streetAddress"]:
                addresses_df_copy.loc[i, "streetAddress"] = addresses_df_copy.loc[i, "streetAddress"].replace(" Dr", " Dr " + extracted_info, 1)

In [482]:
# add information from main_information_df to address
addresses_df_copy["postingGroupName"] = main_information_df_backup["postingGroupName"]
addresses_df_copy["agentName"] = main_information_df_backup["agentName"]

# move their indices for clarity
addresses_df_copy.insert(2, "postingGroupName", addresses_df_copy.pop("postingGroupName"))
addresses_df_copy.insert(3, "agentName", addresses_df_copy.pop("agentName"))

In [483]:
# create a new units column using end values of street address
# define a pattern expression
pattern = r'(#\S+|ROOM\s+\S+|APT\s+\S+|UNIT\s+\S+|PENTHOUSE\s+\S+|PH\s+\S+|SUITE\s+\S+|BASEMENT\s+\S+|FLOOR\s+\S+|SPACE\s+\S+|STE\s+\S+)'


# Apply the function to the original column and create a new "unit" column
addresses_df_copy['unit'] = addresses_df_copy['streetAddress'].str.extract(pattern, expand=False)

# remove the extracted information from the original column
addresses_df_copy['streetAddress'] = addresses_df_copy['streetAddress'].str.replace(pattern, '', regex = True).str.strip()

In [491]:
# add buildingId

addresses_df_copy["buildingId"] = apartment_units_df_copy_n["buildingId"]
addresses_df_copy.insert(2, "buildingId", addresses_df_copy.pop("buildingId"))

#### Additional editing

In [492]:
# save the data, don't run this the next notebook is loaded
# addresses_df_copy.to_csv("D:/DataSets/msc_datasets_cleaned/addresses.csv", index = False)

In [473]:
# load addresses information 
addresses_df = pd.read_csv("D:/DataSets/msc_datasets_cleaned/addresses.csv")

In [474]:
# create new apartment units dataframe
apartment_units_new = pd.DataFrame()

apartment_units_new["zpid"] = addresses_df["zpid"]
apartment_units_new["buildingID"] = addresses_df["buildingID"]
apartment_units_new["unitName"] = addresses_df["unitName"]
apartment_units_new["unitNumber"] = addresses_df["unit"]

In [441]:
apartment_units_new.to_csv("D:/DataSets/msc_datasets_cleaned/unit_information.csv", index = False)

In [475]:
# drop address featuers
addresses_df = addresses_df.drop("unitName", axis = 1)
addresses_df = addresses_df.drop("unit", axis = 1)
addresses_df = addresses_df.drop("zpid", axis = 1)

In [476]:
addresses_df = addresses_df.drop_duplicates()

In [477]:
# assign zpids accordingly
addresses_df["zpid"] = apartment_units_new.loc[addresses_df.index, "zpid"]
addresses_df.insert(0,"zpid",addresses_df.pop("zpid"))
addresses_df.insert(1,"buildingID",addresses_df.pop("buildingID"))

In [478]:
addresses_df = addresses_df.reset_index(drop = True)

In [505]:
# create list that stores zpids

missing_neighbours = []

# find addresses with some extra information
for i in range(len(addresses_df)):
    if type(addresses_df["neighbourhoodGeoLocation"][i]) == float:
        missing_neighbours.append(addresses_df["zpid"][i])

In [514]:
filtered_df = addresses_df[addresses_df['zpid'].isin(missing_neighbours)]
filtered_df = filtered_df.reset_index(drop = True)
filtered_df

,zpid,buildingID,geoLocation,postingGroupName,agentName,buildingName,city,state,streetAddress,zipcode,cityRegion,stateId,cityId,country,neighbourhoodGeoLocation
0,2055557080,1.001417e+09,"39.377323, -76.66296",Westminster Management,Leasing Agent,Copper Village and Quarry Village,Baltimore,MD,6617 Bonnie Ridge Dr Pikesville,21209,Baltimore,27,3523,USA,NaN
1,2055216519,2.702912e+09,"39.292778, -76.54927",The Time Group WPM Real Estate Group,Leasing Agent,Lofts at Yard 56,Baltimore,MD,560 Bayview Blvd,21224,Baltimore,27,3523,USA,NaN
2,2055213405,1.001417e+09,"39.361774, -76.678795",Continental Realty Corporation,Leasing Agent,Brook View Apartments,Baltimore,MD,5921 Western Run Dr,21209,Baltimore,27,3523,USA,NaN
3,2055893857,2.489446e+09,"39.283726, -76.59301",Zoulis Properties Inc.,631 S Broadway - APT 204,631 S Broadway - APT 204,Baltimore,MD,631 S Broadway,21231,Baltimore,27,3523,USA,NaN
4,2055256323,1.049916e+09,"39.360226, -76.69692",The Mount Washington Group,NaN,6424 Park Heights Ave,Baltimore,MD,6424 Park Heights Ave,21215,Baltimore,27,3523,USA,NaN
5,2056140568,1.049916e+09,"39.360226, -76.69692",Affordable Housing,Affordable Housing,6424 Park Heights Ave,Baltimore,MD,6424 Park Heights Ave,21215,Baltimore,27,3523,USA,NaN
6,2097288157,1.006179e+09,"39.291176, -76.62495",CameronsCRE - Baltimore 32,NaN,University Place Apartments,Baltimore,MD,617 W Lexington St,21201,Baltimore,27,3523,USA,NaN
7,2071570940,1.044294e+09,"39.31103, -76.641136",Pangea Real Estate,2416 Etting St,2416 Etting St,Baltimore,MD,2416 Etting St,21217,Baltimore,27,3523,USA,NaN
8,2057892305,1.002376e+09,"39.335304, -76.61982",Resource Management Group,Leasing Agent,Ambassador Apartments,Baltimore,MD,3811 Canterbury Rd,21218,Baltimore,27,3523,USA,NaN
9,2056479326,1.050584e+09,"39.27367, -76.53498",NaN,Leasing Agent,Regent Apartments,Baltimore,MD,6518 Brown Ave,21224,Baltimore,27,3523,USA,NaN
10,2057114844,2.234602e+09,"39.319508, -76.69743","Bay Property Management Group , LLC",NaN,NaN,Baltimore,MD,4718 Wakefield Rd,21216,Baltimore,27,3523,USA,NaN
11,2087276245,2.090506e+09,"39.299366, -76.63478",NaN,Antionett Garrett,NaN,Baltimore,MD,1000 W Lafayette Ave,21217,Baltimore,27,3523,USA,NaN
12,2057426147,1.049912e+09,"39.29356, -76.61572",Liberty Group Holdings,NaN,330 N Charles Street,Baltimore,MD,330 N Charles St,21201,Baltimore,27,3523,USA,NaN
13,2091215207,2.090484e+09,"39.30442, -76.61217","American Management II, LLC",NaN,221 E. Preston St,Baltimore,MD,221 E Preston St,21202,Baltimore,27,3523,USA,NaN
14,2056496661,1.049915e+09,"39.34789, -76.66989",Baltimore,NaN,3001 Oakley Ave.,Baltimore,MD,3001 Oakley Ave,21215,Baltimore,27,3523,USA,NaN
15,36435923,NaN,"39.284187, -76.589455","Bay Property Management Group , LLC",NaN,NaN,Baltimore,MD,616 S Chapel St,21231,Baltimore,27,3523,USA,NaN
16,122476484,NaN,"39.300182, -76.61338",Stork Property Management,NaN,NaN,Baltimore,MD,910 N Calvert St,21202,Baltimore,27,3523,USA,NaN
17,36451802,NaN,"39.30645, -76.57881",Keller Williams Capital Properties,Marlena D McWilliams,NaN,Baltimore,MD,1304 N Kenwood Ave,21213,Baltimore,27,3523,USA,NaN
18,36494446,NaN,"39.31171, -76.64924",Paradise City Properties LLC,NaN,NaN,Baltimore,MD,1933 Clifton Ave,21217,Baltimore,27,3523,USA,NaN
19,2067380964,NaN,"39.31253, -76.63551",Cummings & Co. Realtors,Meighan Sweeney,NaN,Baltimore,MD,2323 Eutaw Pl,21217,Baltimore,27,3523,USA,NaN
20,2063615437,NaN,"39.285164, -76.64297",NaN,NaN,NaN,Baltimore,MD,1613 W Pratt St,21223,Baltimore,27,3523,USA,NaN
21,36533247,NaN,"39.281174, -76.63505",NaN,NaN,NaN,Baltimore,MD,1250 Washington Blvd,21230,Baltimore,27,3523,USA,NaN
22,36529692,NaN,"39.292065, -76.67498",HomeWorks Property Management LLC,NaN,NaN,Baltimore,MD,3408 W Mulberry St,21229,Baltimore,27,3523,USA,NaN
23,36491324,NaN,"39.307583, -76.660706",Gulfstream Associates LLC,Leasing Manager,NaN,Baltimore,MD,1705 Braddish Ave,21216,Baltimore,27,3523,USA,NaN
24,36514623,NaN,"39.297737, -76.658325",Astoria Charm Property Management,NaN,858 Whitmore Ave,Baltimore,MD,858 Whitmore Ave,21216,Baltimore,27,3523,USA,NaN
25,36430079,NaN,"39.28527, -76.58086",NaN,NaN,NaN,Baltimore,MD,2518 Fleet St,21224,Baltimore,27,3523,USA,NaN
26,36435864,NaN,"39.285244, -76.58852",NaN,NaN,NaN,Baltimore,MD,519 S Washington St,21231,Baltimore,27,3523,USA,NaN
27,36560327,NaN,"39.28716, -76.57028",NaN,NaN,NaN,Baltimore,MD,412 S Clinton St,21224,Baltimore,27,3523,USA,NaN
28,2068668283,NaN,"39.313915, -76.605255",Calhoun Properties Group LLC,Tenant Turner contact for unit 432436,NaN,Baltimore,MD,2042 Cecil Ave,21218,Baltimore,27,3523,USA,NaN
29,36429705,NaN,"39.284466, -76.58224",NaN,NaN,NaN,Baltimore,MD,614 S Port St,21224,Baltimore,27,3523,USA,NaN
30,36446233,NaN,"39.301617, -76.57874",RE/MAX Ikon,Linda Wrinn,NaN,Baltimore,MD,911 N Belnord Ave,21205,Baltimore,27,3523,USA,NaN
31,36496831,NaN,"39.336533, -76.68304",CR of Maryland Property Management LLC,NaN,NaN,Baltimore,MD,3905 Ridgewood Ave,21215,Baltimore,27,3523,USA,NaN
32,36445526,NaN,"39.297337, -76.57742",Riparian Management LLC,NaN,NaN,Baltimore,MD,506 N Streeper St,21205,Baltimore,27,3523,USA,NaN
33,36441356,NaN,"39.29418, -76.57542",NaN,NaN,NaN,Baltimore,MD,143 N Curley St,21224,Baltimore,27,3523,USA,NaN
34,36435827,NaN,"39.285286, -76.58929","Bay Property Management Group , LLC",NaN,NaN,Baltimore,MD,517 S Chapel St,21231,Baltimore,27,3523,USA,NaN
35,2057118203,NaN,"39.319508, -76.69743",NaN,NaN,NaN,Baltimore,MD,4718 Wakefield Rd,21216,Baltimore,27,3523,USA,NaN

In [507]:
# use google api to fill in missing values

import googlemaps
from pprint import pprint

# create function for retrieving neighbourhood

def retrieve_neighbourhood(property_latitude, property_longitude):
    
    API_KEY = open('C:/Users/seanl/googlemaps_api.txt','r').read()
    map_client = googlemaps.Client(API_KEY)

    # Initialize the Google Maps client
    gmaps = googlemaps.Client(API_KEY)


    # Perform reverse geocoding to get location details, this is where the request is made
    if property_latitude != "None" and property_longitude != None:
        reverse_geocode_result = gmaps.reverse_geocode((property_latitude, property_longitude))

        # Extract neighborhood information if available
        neighborhood = None

        if reverse_geocode_result:
            for result in reverse_geocode_result:
                for component in result['address_components']:
                    if 'neighborhood' in component['types']:
                        neighborhood = component['long_name']

            if neighborhood:
                print(f'Neighborhood: {neighborhood}, geoLocation:  {property_latitude}, {property_longitude}')
                return neighborhood
            else:
                print('Neighborhood informationnotfound.')
                return None
    else:
        print('Neighborhood informationnotfound.')
        return None

In [515]:
import time

rows_to_add = []
iterations = len(filtered_df)

for i in range(iterations):
    
    values = filtered_df["geoLocation"][i].split(", ")

    # Access the separated values
    value1 = values[0]
    value2 = values[1]
    print(i)
    temp_dict = {}
    temp_dict["zpid"] = filtered_df["zpid"][i]
    temp_dict["latitude"] = value1
    temp_dict["longitude"] = value2
    temp_dict["neighbourhood"] = retrieve_neighbourhood(str(value1),str(value2))
    
    rows_to_add.append(temp_dict)
    
    if i % 2 == 0 and i <= iterations:
        time.sleep(2)
        

missing_neighbourhoods_df = pd.DataFrame(rows_to_add)

0
Neighborhood: Mount Washington, geoLocation:  39.377323, -76.66296
1
Neighborhood: Highlandtown, geoLocation:  39.292778, -76.54927
2
Neighborhood: Mount Washington, geoLocation:  39.361774, -76.678795
3
Neighborhood: Fells Point, geoLocation:  39.283726, -76.59301
4
Neighborhood: Arlington, geoLocation:  39.360226, -76.69692
5
Neighborhood: Arlington, geoLocation:  39.360226, -76.69692
6
Neighborhood: Downtown, geoLocation:  39.291176, -76.62495
7
Neighborhood: Druid Hill Park, geoLocation:  39.31103, -76.641136
8
Neighborhood: Tuscany - Canterbury, geoLocation:  39.335304, -76.61982
9
Neighborhood: Highlandtown, geoLocation:  39.27367, -76.53498
10
Neighborhood: West Forest Park, geoLocation:  39.319508, -76.69743
11
Neighborhood: Druid Hill Park, geoLocation:  39.299366, -76.63478
12
Neighborhood: Downtown, geoLocation:  39.29356, -76.61572
13
Neighborhood: East Case, geoLocation:  39.30442, -76.61217
14
Neighborhood: Arlington, geoLocation:  39.34789, -76.66989
15
Neighborhood: Fells Point, geoLocation:  39.284187, -76.589455
16
Neighborhood: East Case, geoLocation:  39.300182, -76.61338
17
Neighborhood: Clifton, geoLocation:  39.30645, -76.57881
18
Neighborhood: Druid Hill Park, geoLocation:  39.31171, -76.64924
19
Neighborhood: Druid Hill Park, geoLocation:  39.31253, -76.63551
20
Neighborhood: Franklin, geoLocation:  39.285164, -76.64297
21
Neighborhood: Franklin, geoLocation:  39.281174, -76.63505
22
Neighborhood: Carroll, geoLocation:  39.292065, -76.67498
23
Neighborhood: Coppin Heights, geoLocation:  39.307583, -76.660706
24
Neighborhood: Evergreen Lawn, geoLocation:  39.297737, -76.658325
25
Neighborhood: Highlandtown, geoLocation:  39.28527, -76.58086
26
Neighborhood: Fells Point, geoLocation:  39.285244, -76.58852
27
Neighborhood: Highlandtown, geoLocation:  39.28716, -76.57028
28
Neighborhood: East Baltimore Midway, geoLocation:  39.313915, -76.605255
29
Neighborhood: Highlandtown, geoLocation:  39.284466, -76.58224
30
Neighborhood: Madison - Eastend, geoLocation:  39.301617, -76.57874
31
Neighborhood: Arlington, geoLocation:  39.336533, -76.68304
32
Neighborhood: Elwood Park, geoLocation:  39.297337, -76.57742
33
Neighborhood: Highlandtown, geoLocation:  39.29418, -76.57542
34
Neighborhood: Fells Point, geoLocation:  39.285286, -76.58929
35
Neighborhood: West Forest Park, geoLocation:  39.319508, -76.69743

In [518]:
neighbourhood_cols_rows = []
iterations = len(missing_neighbourhoods_df)

# run loop
for i in range(iterations):
    temp_dict = {}
    neighbourhood_name = missing_neighbourhoods_df["neighbourhood"][i]
    temp_dict["zpid"] = missing_neighbourhoods_df["zpid"][i]
    temp_dict["neighbourhood"] = missing_neighbourhoods_df["neighbourhood"][i]
    temp_dict["neighbourhoodGeoLocation"] = retreive_coordinates(neighbourhood_name)
    
    # add dict to list
    neighbourhood_cols_rows.append(temp_dict)
    
    if i % 2 == 0 and i <= iterations:
        time.sleep(2)
        
missing_neighbourhoods_co_df = pd.DataFrame(neighbourhood_cols_rows)

Latitude: 39.36253019999999, Longitude: -76.6595727, Neighbourhood: Mount Washington
Latitude: 39.2887746, Longitude: -76.56674919999999, Neighbourhood: Highlandtown
Latitude: 39.36253019999999, Longitude: -76.6595727, Neighbourhood: Mount Washington
Latitude: 39.2842097, Longitude: -76.593611, Neighbourhood: Fells Point
Latitude: 39.3481652, Longitude: -76.6831397, Neighbourhood: Arlington
Latitude: 39.3481652, Longitude: -76.6831397, Neighbourhood: Arlington
Latitude: 39.292007, Longitude: -76.6167212, Neighbourhood: Downtown
Latitude: 39.319147, Longitude: -76.6451409, Neighbourhood: Druid Hill Park
Latitude: 39.338563, Longitude: -76.6224981, Neighbourhood: Tuscany - Canterbury
Latitude: 39.2887746, Longitude: -76.56674919999999, Neighbourhood: Highlandtown
Latitude: 39.3211342, Longitude: -76.69180039999999, Neighbourhood: West Forest Park
Latitude: 39.319147, Longitude: -76.6451409, Neighbourhood: Druid Hill Park
Latitude: 39.292007, Longitude: -76.6167212, Neighbourhood: Downtown
Latitude: 39.2946696, Longitude: -76.6065747, Neighbourhood: East Case
Latitude: 39.3481652, Longitude: -76.6831397, Neighbourhood: Arlington
Latitude: 39.2842097, Longitude: -76.593611, Neighbourhood: Fells Point
Latitude: 39.2946696, Longitude: -76.6065747, Neighbourhood: East Case
Latitude: 39.3226705, Longitude: -76.5846633, Neighbourhood: Clifton
Latitude: 39.319147, Longitude: -76.6451409, Neighbourhood: Druid Hill Park
Latitude: 39.319147, Longitude: -76.6451409, Neighbourhood: Druid Hill Park
Latitude: 39.2903848, Longitude: -76.6121893, Neighbourhood: Franklin
Latitude: 39.2903848, Longitude: -76.6121893, Neighbourhood: Franklin
Latitude: 39.2809401, Longitude: -76.6719138, Neighbourhood: Carroll
Latitude: 39.3069138, Longitude: -76.65715399999999, Neighbourhood: Coppin Heights
Latitude: 39.2971002, Longitude: -76.6549883, Neighbourhood: Evergreen Lawn
Latitude: 39.2887746, Longitude: -76.56674919999999, Neighbourhood: Highlandtown
Latitude: 39.2842097, Longitude: -76.593611, Neighbourhood: Fells Point
Latitude: 39.2887746, Longitude: -76.56674919999999, Neighbourhood: Highlandtown
Latitude: 39.31471000000001, Longitude: -76.60372219999999, Neighbourhood: East Baltimore Midway
Latitude: 39.2887746, Longitude: -76.56674919999999, Neighbourhood: Highlandtown
Latitude: 39.3007532, Longitude: -76.576998, Neighbourhood: Madison - Eastend
Latitude: 39.3481652, Longitude: -76.6831397, Neighbourhood: Arlington
Latitude: 39.29714389999999, Longitude: -76.5733862, Neighbourhood: Elwood Park
Latitude: 39.2887746, Longitude: -76.56674919999999, Neighbourhood: Highlandtown
Latitude: 39.2842097, Longitude: -76.593611, Neighbourhood: Fells Point
Latitude: 39.3211342, Longitude: -76.69180039999999, Neighbourhood: West Forest Park

In [520]:
# Create a dictionary to map zpids to neighbourhoodGeoLocation values from the second dataset
zpid_to_location = missing_neighbourhoods_co_df.set_index('zpid')['neighbourhoodGeoLocation'].to_dict()

# Fill missing values in the first dataset using the mapped values
addresses_df['neighbourhoodGeoLocation'] = addresses_df['neighbourhoodGeoLocation'].fillna(addresses_df['zpid'].map(zpid_to_location))

In [523]:
addresses_df["neighbourhoodGeoLocation"][18]

'39.308315, -76.62538649999999'

In [554]:
main_information_df = main_information_df.drop("stories", axis = 1)
main_information_df = main_information_df.drop("yearBuilt", axis = 1)
main_information_df.to_csv("D:/DataSets/msc_datasets_cleaned/main_information.csv")