In [26]:
import pandas as pd

crime = pd.read_csv("D:/DataSets/CRIME/final_baltcrime.csv")

In [27]:
crime = crime.drop("Longitude", axis = 1)
crime = crime.drop("Latitude", axis = 1)

In [28]:
crime = crime.rename(columns = {"Weapon":"weapon"})
crime = crime.rename(columns = {"Inside_Outside":"inside_outside"})
crime = crime.rename(columns = {"Description":"description"})
crime = crime.rename(columns = {"GeoLocation":"neighbourhoodGeoLocation"})

In [29]:
crime

                  weapon inside_outside        description                  neighbourhoodGeoLocation
0       PERSONAL_WEAPONS         Inside            LARCENY  (39.289875155299512,-76.610022671156329)
1       PERSONAL_WEAPONS         Inside            LARCENY  (39.289875155299512,-76.610022671156329)
2       PERSONAL_WEAPONS        Outside     COMMON ASSAULT  (39.289693999999997,-76.609675999999993)
3                FIREARM         Inside       AGG. ASSAULT  (39.300400000000003,-76.628442000000007)
4                    NaN         Inside  LARCENY FROM AUTO  (39.358396999999997,-76.583949000000004)
...                  ...            ...                ...                                       ...
514137           FIREARM              I       AGG. ASSAULT                     (39.286492,-76.59483)
514138               NaN              I            LARCENY                    (39.223002,-76.586702)
514139               NaN              I           BURGLARY                    (39.284016,-76.654826)
514140           FIREARM              O            ROBBERY                    (39.356197,-76.702554)
514141               NaN              I           BURGLARY                     (39.336063,-76.67904)

[514142 rows x 4 columns]

In [30]:
# change to point

crime[['latitude', 'longitude']] = crime['neighbourhoodGeoLocation'].str.split(',', expand=True)

# Format the data into the expected SQL format
crime['neighbourhoodGeoLocation'] = crime.apply(lambda row: f"POINT{row['latitude']} {row['longitude']}", axis=1)

crime = crime.drop(columns = ["latitude", "longitude"])

In [32]:
crime.to_csv("D:/DataSets/CRIME/crime.csv", index = False)