In [431]:
# load in main information table

import pandas as pd

main_information = pd.read_csv("D:/DataSets/msc_datasets_cleaned//main_information.csv")

In [432]:
len(main_information)

2512

In [433]:
main_information['availableNow'] = main_information['availableFrom'].apply(lambda x: x == 'Available Now')

In [434]:
main_information['availableFrom'].replace('Available Now', pd.NA, inplace=True)

In [435]:
main_information['availableFrom'] = pd.to_datetime(main_information['availableFrom'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [436]:
main_information = main_information.rename(columns={'zpid': 'propertyID'})

In [437]:
# create set with zpid information, use later
zpid_set = set(main_information['propertyID'])

In [438]:
main_information["feeID"] = range(2512)
main_information["priceHistoryID"] = range(2512)
main_information["propertyDetailsID"] = range(2512)
main_information["unitID"] = range(2512)

In [439]:
main_information.insert(1,"feeID",main_information.pop("feeID"))
main_information.insert(1,"priceHistoryID",main_information.pop("priceHistoryID"))
main_information.insert(1,"propertyDetailsID",main_information.pop("propertyDetailsID"))
main_information.insert(1,"unitID",main_information.pop("unitID"))

In [207]:
# change date formatting in price history data
price_history = pd.read_csv("D:/DataSets/msc_datasets_cleaned/price_history.csv")

In [ ]:
# filter datset
price_history = price_history[price_history['zpid'].isin(zpid_set)]
price_history = price_history.reset_index(drop = True)

In [208]:
for i in range(29):
    price_history[f'change_{i}_date'] = pd.to_datetime(price_history[f'change_{i}_date'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [209]:
price_history['priceHistoryID'] = main_information["priceHistoryID"]

In [210]:
price_history.insert(0,"priceHistoryID",price_history.pop("priceHistoryID"))

C:\Users\seanl\AppData\Local\Temp\ipykernel_20868\388615128.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  price_history.insert(0,"priceHistoryID",price_history.pop("priceHistoryID"))

In [211]:
price_history.drop(columns = ["zpid"], inplace = True)

In [212]:
price_history.to_csv("D:/DataSets/msc_datasets_finished/price_history.csv", index = False)

In [213]:
# for property details

property_details = pd.read_csv("D:/DataSets/msc_datasets_cleaned//property_details.csv")

In [214]:
# filter datset
property_details = property_details[property_details['zpid'].isin(zpid_set)]
property_details = property_details.reset_index(drop = True)

In [215]:
property_details["propertyDetailsID"] = main_information["propertyDetailsID"]
property_details.insert(0,"propertyDetailsID",property_details.pop("propertyDetailsID"))

In [216]:
property_details.drop(columns = ["zpid"], inplace = True)

In [137]:
property_details.to_csv("D:/DataSets/msc_datasets_finished/property_details.csv", index = False)

In [145]:
# for fee dataset
fees = pd.read_csv("D:/DataSets/msc_datasets_cleaned/fees.csv")

In [146]:
# filter datset
fees = fees[fees['zpid'].isin(zpid_set)]
fees = fees.reset_index(drop = True)

In [147]:
fees["feeID"] = main_information["feeID"]
fees.insert(0,"feeID",fees.pop("feeID"))

In [148]:
fees.drop(columns = ["zpid"], inplace = True)

In [149]:
fees.to_csv("D:/DataSets/msc_datasets_finished/fees.csv", index = False)

In [440]:
# for units

units = pd.read_csv("D:/DataSets/msc_datasets_cleaned/unit_information.csv")

In [441]:
# filter datset
units = units[units['zpid'].isin(zpid_set)]
units = units.reset_index(drop = True)

In [442]:
units["unitID"] = main_information["unitID"]
units.insert(0,"unitID",units.pop("unitID"))

In [443]:
units = units.rename(columns={'zpid': 'propertyID'})

In [444]:
units.to_csv("D:/DataSets/msc_datasets_finished/unit_information.csv", index = False)

In [445]:
# map buildingID values to main information
zpid_to_buildingID_map = units.set_index('propertyID')['buildingID'].to_dict()

main_information['buildingID'] = main_information['propertyID'].map(zpid_to_buildingID_map)

In [449]:
main_information.insert(7,"buildingID",main_information.pop("buildingID"))

In [402]:
# for image dataset
df = pd.read_csv("D:/DataSets/msc_datasets_cleaned/image_data.csv")

In [406]:
# filter datset
df = df[df['zpid'].isin(zpid_set)]
df = df.reset_index(drop = True)

In [407]:
zpids = df['zpid']

# Extract the columns from "image0" to "image164" as a new DataFrame
images = df.loc[:, 'image0':'image164']

# Reshape the 'images' DataFrame to a long format
images = df.stack().reset_index(level=1, drop=True).to_frame(name='zpid')

# Reset the index of the 'images' DataFrame to have 'zpids' as an index
images.reset_index(inplace=True)

# Rename the columns for clarity
images.columns = ['imageID', 'propertyURL']

images['propertyID'] = images['imageID'].map(zpids)

In [408]:
# Remove rows where "https" doesn't exist in "propertyURL"
images = images[images['propertyURL'].str.contains('https', case=False, na=False)]

# Reset the index
images.reset_index(drop=True, inplace=True)

In [409]:
images['imageID'] = range(len(images))

In [410]:
images

       imageID                                        propertyURL  propertyID
0            0  https://photos.zillowstatic.com/fp/f0b2c31f05e...  2075342017
1            1  https://photos.zillowstatic.com/fp/e2a0a9720df...  2075342017
2            2  https://photos.zillowstatic.com/fp/041d1f29b6f...  2075342017
3            3  https://photos.zillowstatic.com/fp/1c0a31aa6ec...  2075342017
4            4  https://photos.zillowstatic.com/fp/d02ca69d144...  2075342017
...        ...                                                ...         ...
69757    69757  https://photos.zillowstatic.com/fp/8fbace69a85...  2057295855
69758    69758  https://photos.zillowstatic.com/fp/1b68081c3e8...  2057295855
69759    69759  https://photos.zillowstatic.com/fp/13b46f74240...  2057295855
69760    69760  https://photos.zillowstatic.com/fp/9677cea6ef3...  2057295855
69761    69761  https://photos.zillowstatic.com/fp/f5ef69c4aa9...  2057295855

[69762 rows x 3 columns]

In [341]:
images.to_csv("D:/DataSets/msc_datasets_finished/images.csv", index = False)

In [411]:
# for property details extra

df = pd.read_csv("D:/DataSets/msc_datasets_cleaned/property_details_extra.csv")

In [412]:
# filter dataset
df = df[df['zpid'].isin(zpid_set)]
df = df.reset_index(drop = True)

In [413]:
zpids = df['zpid']

# Extract the columns from "image0" to "image164" as a new DataFrame
prop_ext = df.loc[:, 'exterior feature 0':'exterior feature 63']

# Reshape the 'prop_ext' DataFrame to a long format
prop_ext = df.stack().reset_index(level=1, drop=True).to_frame(name='zpid')

# Reset the index of the 'prop_ext' DataFrame to have 'zpids' as an index
prop_ext.reset_index(inplace=True)

# Rename the columns for clarity
prop_ext.columns = ['propExtID', 'propertyFeature']

prop_ext['propertyID'] = prop_ext['propExtID'].map(zpids)

In [414]:
prop_ext = prop_ext[prop_ext['propertyFeature'] != prop_ext['propertyID']]

In [422]:
prop_ext['propExtID'] = range(len(prop_ext))

In [423]:
# map propExtIDs to main_information propExtIDs
map_id = prop_ext.set_index('propertyID')['propExtID'].to_dict()

main_information['propExtID'] = main_information['propertyID'].map(map_id)

In [424]:
len(prop_ext)

25234

In [450]:
main_information

      propertyID  unitID  propertyDetailsID  priceHistoryID  ...  datePosted  rentEstimate       availableFrom  availableNow
0     2075342017       0                  0               0  ...  20/09/2023        1346.0 2023-10-27 08:00:00         False
1     2075330457       1                  1               1  ...  25/09/2023        1326.0 2023-11-11 08:00:00         False
2     2075652105       2                  2               2  ...  21/09/2023        1669.0 2023-10-13 08:00:00         False
3     2075119575       3                  3               3  ...  28/09/2023        1758.0                 NaT          True
4     2067797682       4                  4               4  ...  18/09/2023        1849.0 2023-11-27 08:00:00         False
...          ...     ...                ...             ...  ...         ...           ...                 ...           ...
2507  2057188612    2507               2507            2507  ...  10/06/2023        1099.0                 NaT          True
2508  2085611523    2508               2508            2508  ...  08/06/2023         982.0                 NaT          True
2509  2104322436    2509               2509            2509  ...  08/06/2023         925.0                 NaT          True
2510  2057283402    2510               2510            2510  ...  06/06/2023        1500.0                 NaT          True
2511  2057295855    2511               2511            2511  ...         NaN        1849.0                 NaT          True

[2512 rows x 21 columns]

In [425]:
main_information.insert(1,"propExtID",main_information.pop("propExtID"))

In [452]:
prop_ext.to_csv("D:/DataSets/msc_datasets_finished/propert_details_extra.csv", index = False)

In [451]:
main_information.to_csv("D:/DataSets/msc_datasets_finished/main_information.csv", index = False)