In [198]:
# load in main information table

import pandas as pd

main_information = pd.read_csv("D:/DataSets/msc_datasets_cleaned//main_information.csv")

In [199]:
len(main_information)

2512

In [200]:
main_information['availableNow'] = main_information['availableFrom'].apply(lambda x: x == 'Available Now')

In [201]:
main_information['availableFrom'].replace('Available Now', pd.NA, inplace=True)

In [202]:
main_information['availableFrom'] = pd.to_datetime(main_information['availableFrom'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [203]:
main_information = main_information.rename(columns={'zpid': 'propertyID'})

In [204]:
# create set with zpid information, use later
zpid_set = set(main_information['propertyID'])

In [205]:
main_information["feeID"] = range(2512)
main_information["priceHistoryID"] = range(2512)
main_information["propertyDetailsID"] = range(2512)
main_information["propertyDetailsExtra"] = range(2512)
main_information["unitID"] = range(2512)

In [206]:
main_information.insert(1,"feeID",main_information.pop("feeID"))
main_information.insert(1,"priceHistoryID",main_information.pop("priceHistoryID"))
main_information.insert(1,"propertyDetailsID",main_information.pop("propertyDetailsID"))
main_information.insert(1,"propertyDetailsExtra",main_information.pop("propertyDetailsExtra"))
main_information.insert(1,"unitID",main_information.pop("unitID"))

In [207]:
# change date formatting in price history data
price_history = pd.read_csv("D:/DataSets/msc_datasets_cleaned/price_history.csv")

In [ ]:
# filter datset
price_history = price_history[price_history['zpid'].isin(zpid_set)]
price_history = price_history.reset_index(drop = True)

In [208]:
for i in range(29):
    price_history[f'change_{i}_date'] = pd.to_datetime(price_history[f'change_{i}_date'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [209]:
price_history['priceHistoryID'] = main_information["priceHistoryID"]

In [210]:
price_history.insert(0,"priceHistoryID",price_history.pop("priceHistoryID"))

C:\Users\seanl\AppData\Local\Temp\ipykernel_20868\388615128.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  price_history.insert(0,"priceHistoryID",price_history.pop("priceHistoryID"))

In [211]:
price_history.drop(columns = ["zpid"], inplace = True)

In [212]:
price_history.to_csv("D:/DataSets/msc_datasets_finished/price_history.csv", index = False)

In [213]:
# for property details

property_details = pd.read_csv("D:/DataSets/msc_datasets_cleaned//property_details.csv")

In [214]:
# filter datset
property_details = property_details[property_details['zpid'].isin(zpid_set)]
property_details = property_details.reset_index(drop = True)

In [215]:
property_details["propertyDetailsID"] = main_information["propertyDetailsID"]
property_details.insert(0,"propertyDetailsID",property_details.pop("propertyDetailsID"))

In [216]:
property_details.drop(columns = ["zpid"], inplace = True)

In [138]:
property_details

      propertyDetailsID  yearBuilt       Cooling  ... Double Pane Windows  Sauna stories
0                     0     1969.0         Other  ...               False  False     NaN
1                     1     1969.0         Other  ...               False  False     NaN
2                     2     1969.0         Other  ...               False  False     NaN
3                     3     1969.0         Other  ...               False  False     NaN
4                     4     1969.0         Other  ...               False  False     NaN
...                 ...        ...           ...  ...                 ...    ...     ...
2507               2507        NaN  Other, Other  ...               False  False     NaN
2508               2508        NaN          None  ...               False  False     NaN
2509               2509        NaN          None  ...               False  False     NaN
2510               2510        NaN          None  ...               False  False     NaN
2511               2511        NaN          None  ...               False  False     NaN

[2512 rows x 40 columns]

In [137]:
property_details.to_csv("D:/DataSets/msc_datasets_finished/property_details.csv", index = False)

In [139]:
# for property details extra

property_details_ext = pd.read_csv("D:/DataSets/msc_datasets_cleaned/property_details_extra.csv")

In [140]:
# filter dataset
property_details_ext = property_details_ext[property_details_ext['zpid'].isin(zpid_set)]
property_details_ext = property_details_ext.reset_index(drop = True)

In [141]:
property_details_ext["propertyDetailsExtra"] = main_information["propertyDetailsExtra"]
property_details_ext.insert(0,"propertyDetailsExtra",property_details_ext.pop("propertyDetailsExtra"))

In [142]:
property_details_ext.drop(columns = ["zpid"], inplace = True)

In [144]:
len(property_details_ext)

2512

In [145]:
# for fee dataset
fees = pd.read_csv("D:/DataSets/msc_datasets_cleaned/fees.csv")

In [146]:
# filter datset
fees = fees[fees['zpid'].isin(zpid_set)]
fees = fees.reset_index(drop = True)

In [147]:
fees["feeID"] = main_information["feeID"]
fees.insert(0,"feeID",fees.pop("feeID"))

In [148]:
fees.drop(columns = ["zpid"], inplace = True)

In [149]:
fees.to_csv("D:/DataSets/msc_datasets_finished/fees.csv", index = False)

In [156]:
# for units

units = pd.read_csv("D:/DataSets/msc_datasets_cleaned/unit_information.csv")

In [157]:
# filter datset
units = units[units['zpid'].isin(zpid_set)]
units = units.reset_index(drop = True)

In [164]:
units["unitID"] = main_information["unitID"]
units.insert(0,"unitID",units.pop("unitID"))

In [177]:
units = units.rename(columns={'zpid': 'propertyID'})

In [165]:
units.to_csv("D:/DataSets/msc_datasets_finished/unit_information.csv", index = False)

In [217]:
# map buildingID values to main information
zpid_to_buildingID_map = units.set_index('propertyID')['buildingID'].to_dict()

main_information['buildingID'] = main_information['propertyID'].map(zpid_to_buildingID_map)

In [221]:
main_information.insert(8,"buildingID",main_information.pop("buildingID"))

In [222]:
main_information.to_csv("D:/DataSets/msc_datasets_finished/main_information.csv", index = False)